* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.upload-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 6px 8px;
    border-radius: 3px;
    bottom: -40px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.upload-icon-container:hover .tooltip{
    opacity: 1;
}