.container {
      display: flex;
      width: 300px;
      border: 2px solid white;
    }

    .item1 {
      width: 100px;
      background-color: #d9a3a9;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .item2 {
      width: 200px;
      background-color: #9bb8c4;
    }

    .label {
      background-color: black;
      color: white;
      padding: 5px;
    }