* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    height: 3000px;
}

.video-box{
    width: 320px;
    height: 180px;
    background-color: gray;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.close-btn{
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: -18px;
    left: -18px;
}

.timestamp{
    background-color: black;
    color: white;
    padding: 5px 8px;
    font-size: 16px;
    position: absolute;
    right: 8px;
    bottom: 8px;
}