.flex {
  display: flex;
}

.flex .item1 {
  width: 50px;
  background-color: lightblue;
}

.flex .item2 {
  flex: 1;
  background-color: pink;
}

.flex .item3 {
  width: 75px;
  background-color: lightblue;
}