p {
            display: inline-block;
            width: 200px;
            vertical-align: middle;
        }

        button {
            display: inline;
            vertical-align: middle;
        }